
<form action='password'>

    <h1>Generador de contraseñas</h1>

    <label for="length">Selecione el largo de su contraseña</label>
    <select name="length" id="length">
        <option value="6">6 Caracteres</option>
        <option value="7">7 Caracteres</option>
        <option value="8">8 Caracteres</option>
        <option value="9">9 Caracteres</option>
        <option value="10">10 Caracteres</option>
        <option value="11">11 Caracteres</option>
        <option value="12">12 Caracteres</option>
        <option value="13">13 Caracteres</option>
        <option value="14">14 Caracteres</option>
        <option value="15">15 Caracteres</option>
        <option value="16">16 Caracteres</option>
    </select>

    <label for="uppercase">Uppercase</label>
    <input type="checkbox" name="uppercase" id="uppercase">

    <label for="special">caracteres especiales</label>
    <input type="checkbox" name="special" id="special">

    <label for="numbers">Numeros</label>
    <input type="checkbox" name="numbers" id="numbers">

    <button>Generar password</button>

</form>